.header {
  min-height: 70vh;
  position: relative;
  background: #171826;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  color: var(--light-white);
}
.signin {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #171826;
  min-height: 70vh;
}

.header-svg {
  position: absolute;
  left: 100px;
  bottom: -70px;
  animation: wheeler 7s linear infinite;
}
.header-svg1 {
  animation-delay: 2s;
  left: 200px;
}
.header-svg2 {
  animation-delay: 3.2s;
  left: 300px;
}
.header-svg3 {
  animation-delay: 5s;
  left: 400px;
}
.header-svg4 {
  animation-delay: 4.62s;
  left: 500px;
}
.header-svg5 {
  animation-delay: 2s;
  left: 1200px;
}
.header-svg6 {
  animation-delay: 7.2s;
  left: 607px;
}
.header-svg7 {
  animation-delay: 4.55s;
  left: 400px;
}
.header-svg8 {
  animation-delay: 9.4s;
  left: 687px;
}
.header-svg9 {
  animation-delay: 8s;
  left: 590px;
}
.header-svg10 {
  animation-delay: 3.72s;
  left: 350px;
}
.header-svg11 {
  animation-delay: 3.69s;
  left: 1100px;
}
.header-svg12 {
  animation-delay: 4.62s;
  left: 500px;
}
.header-svg13 {
  animation-delay: 3.8s;
  left: 900px;
}
.header-svg14 {
  animation-delay: 7.2s;
  left: 1038px;
}
.header-svg15 {
  animation-delay: 5s;
  left: 1000px;
}
.header-svg16 {
  animation-delay: 3.62s;
  left: 900px;
}

.concon {
  position: relative;
  margin-bottom: 60rem;
}
.concon {
  position: relative;
  margin-bottom: 40rem;
}
.header {
  min-height: 70vh;
  position: relative;
  background: var(--dark-blue);
  color: #f4f7fb;
  overflow: hidden;
}
.signin {
  background: var(--dark-blue);
  min-height: 70vh;
}
.form-pos {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
}
.form-pos p {
  color: #f4f7fb;
  text-align: center;
  max-width: 370px;
  margin: 2rem auto;
  padding: 0 2rem;
}
.form-pos-logo {
  max-width: 100px;
  margin: 0 auto;
}
.form-pos img {
  max-width: 90px;
  margin: 0 auto;
}
.form-section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.form-wrapper {
  max-width: 500px;
  margin: 0rem auto 6rem auto;
  background: #f4f7fb;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}

.form-header {
  font-family: "CamptonSemiBold", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}
.form-login-header {
  font-family: "CamptonSemiBold", sans-serif;
  font-size: 2.6rem !important;
  text-align: center;
  padding: 2rem 0;
  color: var(--dark-blue) !important;
}
.form-login-text {
  color: var(--dark-blue) !important;
  font-size: 1.3rem;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control select {
  border: 2px solid var(--white);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
  background: rgba(59, 93, 125, 0.1);
  outline: none;
}

.form-control input {
  border: 2px solid var(--white);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
  background: rgba(59, 93, 125, 0.1);
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.parent-links {
  font-size: 2rem;
  text-align: center !important;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 5rem;
  background: #5ac8fa;
  padding: 0.2em 0.8em;
  text-transform: capitalize;
  border-radius: 5px;
}
.form-control textarea {
  border: 2px solid var(--white);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
  background: rgba(59, 93, 125, 0.1);
  resize: none;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--white);
}
.form-control textarea:focus {
  outline: 0;
  border-color: var(--white);
}
.form-submit {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
}
.submit {
  background: var(--blue);
  border: 2px solid #5ac8fa;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: opacticy 300ms ease-in;
}
.submit:hover {
  opacity: 0.9;
}
.submit svg {
  margin-left: 2rem;
  width: 24px;
}
.register {
  font-size: 1.2rem;
  color: var(--blue);
  transition: opacticy 300ms ease-in;
  text-decoration: none;
}

.register:hover {
  opacity: 0.9;
}
.form-social {
  display: flex;
  max-width: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.verify {
  text-decoration: none;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  width: 40%;
  margin: 0 auto;
}
@media only screen and (min-width: 48em) {
  /************************* NAVBARs************************************ */
  .header {
    min-height: 100vh;
    clip-path: ellipse(81% 68% at 50% 32%);
  }
  .signin {
    clip-path: ellipse(81% 68% at 50% 32%);
  }

  .form-pos {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 35%;
  }
  .form-pos p {
    color: var(--white);
    text-align: center;
    max-width: 500px;
    margin: 2rem auto;
    padding: 0 2rem;
    font-size: 1.3rem;
  }
  .form-control-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 64em) {
  .header {
    min-height: 90vh;
  }
}
@media only screen and (min-width: 120em) {
  .contact-form {
    margin: 0rem 1rem 8rem 1rem;
    position: absolute;
    left: 35%;
    top: 70%;
  }
  .header {
    min-height: 35vh;

    max-width: 10000em;
  }
  .signin {
    min-height: 35vh;
    max-width: 10000em;
  }
}
